---
import '../styles/global.css'
import { Image } from 'astro:assets'
import Logo from '../assets/logo.png'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="shortcut icon" href={Logo.src} type="image/png">
		<title>RCCG Cornerstone Assembly</title>
	</head>
	<body class="">

	</body>
</html>
