---
import '../styles/global.css'
import { Image } from 'astro:assets'
import Logo from '../assets/logo.png'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="shortcut icon" href={Logo.src} type="image/png">
		<title>RCCG Cornerstone Assembly</title>
	</head>
	<body class="bg-sky-950">
        <nav class="bg-white px-24 flex justify-between">
            <Image src={Logo} alt="Logo" width="80" height="80" /> 

            <ul class="flex gap-12 items-center">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">New to Church?</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

            <div class="flex items-center">
                <a href="#" class="bg-red-600 active:bg-red-800  text-white border w-20 h-10 flex items-center justify-center text-center rounded-[.7em]">Give</a>
            </div>
        </nav>
        <slot/>
        <footer class="bg-black text-white flex justify-center py-3">

            <p>© 2026 RCCG Cornerstone Assembly</p>
        </footer>
	</body>
</html>
