<div class="bg-[url(/images/placeholds/1.jpg)] h-150 bg-cover bg-center flex justify-center items-center flex-col gap-4">
    <h2 class="text-white text-4xl font-bold">Welcome to RCCG Cornerstone Assembly</h2>
    <div class="text-white p-12 flex flex-col bg-cyan-950 border-none rounded-3xl ">
        <img src="/images/quotes/open.svg" class="h-10 self-start">
        <p class="pt-2 text-xl italic">The stone which the builders rejected has become the chief cornerstone.</p>
        <img src="/images/quotes/close.svg" class="h-12 pt-2 self-end">
        <p>— Mark 12:10</p>
    </div>
</div>