# In Google Forms, choose Send > Embed (<>) and copy the URL from the iframe's src attribute.
PUBLIC_NEW_TO_CHURCH_FORM_URL=https://docs.google.com/forms/d/e/REPLACE_WITH_YOUR_FORM_ID/viewform?embedded=true

PUBLIC_SANITY_PROJECT_ID=qd5xjyx2
PUBLIC_SANITY_DATASET=production
