/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Fonts */
    --font-serif: "PT Serif", serif;
    --font-sans: "Inter", sans-serif;

    /* Colors */
    --color-navy: #082A4E;
    --color-pink: #E33379;
    --color-fuchsia: #EF1170;
    --color-magenta: #D2236A;
    --color-berry: #933163;
    --color-rose: #F25F9A;
    --color-coral-pink: #FD9FA3;
    --color-blush: #F4C2D0;

}

@utility main-gradient {
    background: linear-gradient(45deg, var(--color-coral-pink) 20%, var(--color-rose) 60%, var(--color-fuchsia) 90%, var(--color-magenta) 100%);
}

@utility speaker-card {
    @apply flex flex-col items-center relative
}

@utility speaker-nametag {
    @apply border-none rounded-lg -translate-y-0.5 bg-navy text-white text-center text-3xl absolute bottom-0 left-0 right-0 py-5
}

html, body {
    margin: 0;
    width: 100%;
}
