---
import '../styles/global.css'
import Favicon from '../assets/logo.png'
import Logo from '../assets/logo.svg'
import { Image } from 'astro:assets'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href={Favicon.src} type="image/png">
		<title>{title}</title>
	</head>
	<body class="bg-sky-900 font-serif">
		<nav class="bg-white flex justify-around items-center gap-150">
			<Image src={Logo} alt="" width="200"/>

			<ul class="flex gap-6">
				<li>Home</li>
				<li>Contact</li>
			</ul>
		</nav>

        <slot/>

		<footer class="bg-black text-white flex justify-center py-3">
			<p>© 2026 Woman Excel Conference</p>
		</footer>
	</body>
</html>
