---
import '../styles/global.css'
import Favicon from '../assets/logo.png'
import Logo from '../assets/logo.svg'
import { Image } from 'astro:assets'
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href={Favicon.src} type="image/png">
		<title>{title}</title>
	</head>

	<body class="main-gradient font-serif">
		<nav class="flex justify-around items-center gap-0 md:gap-150">
			<a href="/"><Image src={Logo} alt="" width="200" height="67"/></a>

			<ul class="text-navy flex gap-6">
				<li><a href="/">Home</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

        <slot/>

		<footer class="bg-navy text-white flex justify-center py-3">
			<p>© 2026 Woman Excel Conference</p>
		</footer>
	</body>
</html>
