<div>
    <h2>title</h2>
    <p class="w-200">With joy in our hearts, we welcome you specially to RCCG Cornerstone Assembly Saskatoon. A place of building people of purpose, power, and praise. We are committed to raising role models patterned after Christ in all spheres of life and endeavors. We seek to teach and preach the undiluted word of faith capable of igniting a burning fire of the passion and love of Jesus Christ in you and through you to your world.
    <br>
    We trust God enough for your total turn-around and transformational change as you explore all the resources available for you on this site. Welcome! Joint heirs with Christ.</p>
</div>