<div class="relative flex items-center justify-center pb-20">
    <div class="absolute inset-x-0 top-1/2 h-70 -translate-y-1/2 bg-pink blur-3xl"></div>
    <div class="relative mx-auto flex w-fit items-center justify-center gap-12 bg-berry rounded-2xl p-6">
        <img class="w-xl" src="/images/logo-full.png" alt="">
        <div class="w-xl flex flex-col items-center text-white">
            <h1 class="text-5xl border-none rounded-xl bg-navy py-3 px-5.5 mb-3">Who are we?</h1>
            <p class="mb-2 text-2xl">The Woman Excel Conference is a gathering of women who refuse to settle for ordinary. Born from the conviction that every woman carries God-given purpose, it exists to call that purpose out of her — one unforgettable experience each year where women from every walk of life come together to worship, to learn, and to remember Whose they are.</p>
            <p class="text-2xl">This year we're anchoring everything in the Word. Through powerful teaching and Spirit-led worship, we'll unpack what it means to build a life on something unshakeable. Whether it's your first conference or your fifth, come expectant — you'll leave refreshed and connected to a sisterhood that cheers you on long after the final session. Come as you are; leave as you were always meant to be.</p>
        </div>
    </div>
</div>
