<div class="flex flex-col items-center mt-1.5 md:m-0 md:gap-6 pb-20 pt-4">
    <p class="border-none rounded-xl bg-navy text-white text-[13px] px-3 py-1.5 mb-8.5 md:mb-2.5 font-sans">Theme for this year</p>
    <img class="min-w-85 md:min-w-200" src="/images/the-word.svg" alt="">
    <div class="flex flex-col bg-berry text-white md:text-xl text-lg border-none rounded-xl px-12 py-6 m-6 md:m-0">
        <img class="w-6 md:w-12 pb-0.5" src="/images/quotes/open.svg" alt="">
        <p>In the beginning was the Word, and the Word was with God, and the Word was God</p>
        <img class="w-6 md:w-12 self-end pt-0.5" src="/images/quotes/close.svg" alt="">
        <p class="italic">— John 1:1</p>
    </div>
</div>