<div class="flex justify-center gap-12 my-12">
    <div class="flex flex-col justify-center gap-2 ">
        <h1 class="self-start text-4xl text-navy">Join our Commuinty!</h1>
        <div class="flex gap-2">
            <input 
                class="border-2 rounded-md w-xs user-invalid:border-red-700 user-valid:border-green-600 border-navy" 
                type="email" 
                placeholder="you@example.com" 
                name="Mailing-List" 
                id="mailinglist">
            <button 
                class="bg-navy text-white text-xl border-none rounded-full px-4 py-1 hover:cursor-pointer hover:bg-navy/70" 
                type="submit">Submit
            </button>
        </div>
    </div>
    <img class="w-100 border-none rounded-2xl" src="/images/banner.jpeg" alt="">
</div>