<div class="flex items-center flex-col">
    <p class="border-none rounded-3xl bg-navy text-white text-4xl px-4 py-2.5 mb-8.5 md:mb-5.5 font-sans">Speakers</p>
    <div class="">
        <div>
            <img class="w-2xl" src="/images/speakers/tosin-olayinka-ajibs.png" alt="">
            <p>Tosin Olayinka ajibs</p>
        </div>
    </div>
</div>